.edit-box-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.edit-box-wrapper input,
.edit-box-wrapper textarea {
	width: 100%;
}

.btn-save {
	background: white;
	padding: 0.5em 1em;
	border: none;
	box-shadow: none;
	margin-right: 10px;
	border: 1px solid rgb(231, 231, 231);
}

.btn-save:hover {
	background-color: rgb(0, 162, 255);
	color: white;
	transition: .3s ease-in all;
}
